## IF ELSE STATEMENT

In [3]:
# Remeber to use ":"

In [7]:
name = input('enter your name: ')
if name == "Tamim":
    print('you are right!')
elif name == 'Julian':
    print('yo bro')
else:
    print('you are wrong!')

enter your name: matubbar
you are wrong!

In [9]:
number = int(input('Enter any number to check if its odd or even'))
if number % 2 == 0:
    print(f'{number} is an even number.')
else:
    print(f'{number} is an odd number.')

Enter any number to check if its odd or even56577657849
56577657849 is an odd number.

##  FOR LOOP

In [10]:
my_iterable = [2,3,4,5,6]
for x in my_iterable:
    print(x)

2
3
4
5
6

### Finding the sum of all the numbers in any list

In [11]:
my_iterable

[2, 3, 4, 5, 6]

In [13]:
total = 0
for x in my_iterable:
    total = total + x
total

20

In [14]:
# For Loop for strings

In [15]:
my_string = 'Hello World'
my_list = []
for letter in my_string:
    my_list.append(letter)

my_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [16]:
# we can also interate a certain things the same amount  of letters in a string.

In [19]:
name = "Hello"
for letter in name:
    print('Cool!!!')
# it should print cool!!! 5 times since Hello has 5 characters.

Cool!!!
Cool!!!
Cool!!!
Cool!!!
Cool!!!

### Tuple unpacking

In [20]:
tup = (1,2,3,4,5)

In [21]:
for x in tup:
    print(x)

1
2
3
4
5

In [22]:
list = [(1,2),(3,4)]
for x in list:
    print(x)

(1, 2)
(3, 4)

In [23]:
# we can also do the following

In [24]:
for a,b in list:
    print(a)
    print(b)

1
2
3
4

### Iterating the dictionary

In [25]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
for x in my_dict:
    print(x)

key1
key2
key3

In [27]:
for x in my_dict.values():
    print(x)

value1
value2
value3

In [29]:
for x in my_dict.items():
    print(x)

('key1', 'value1')
('key2', 'value2')
('key3', 'value3')

In [30]:
for a,b in my_dict.items():
    print(a)
    print(b)

key1
value1
key2
value2
key3
value3

## NESTED FOOR LOOP

In [5]:
city = ['dhaka', 'rome', 'delhi']
country = ['Bangladesh', 'Italy', 'India']

for x in city:
    print(x)
    for y in country:
        print(x,y)

dhaka
dhaka Bangladesh
dhaka Italy
dhaka India
rome
rome Bangladesh
rome Italy
rome India
delhi
delhi Bangladesh
delhi Italy
delhi India

## WHILE LOOP

In [6]:
# while loop will continue to do something untill that conditioned is fullfilled

In [7]:
y = 0
while y<=5:
    y += 1
# same as y = y+1
    print(y)
else:
    print('y is more than 5')

1
2
3
4
5
6
y is more than 5

### BREAK PASS CONTINUE

In [1]:
# pass: when it is applied it makes the overall program run without interuupting.

In [2]:
i = [1,2,3]
for x in i:
    pass

In [13]:
# continue: if a condition if s true goes to the top of the current continuing loop without going further.

In [12]:
my_string = 'tamim'
for x in my_string:
    if x == 'a':
        continue
    print(x)

t
m
i
m

In [15]:
# break:  break current loop if it meets certain condition

In [3]:
my_string = 'tmaim'
for x in my_string:
    if x == 'a':
        break
    print(x)

t
m

## USEFUL OPERATORS

### range

In [20]:
list(range(1,100,5))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [22]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [23]:
# range is a generator therfore we can not get anything if we write only ------range(100)

### Enumerate

In [24]:
# firstly we are going to see the intuition behimf the enumerate function

In [28]:
index_count = 0
lapd = 'tamim'
for x in lapd:
    print(index_count, x)
    index_count+=1
    print('\n')

0 t


1 a


2 m


3 i


4 m

In [29]:
#the above codes shows the index position for each letter in python. However this thing has very common and this is why python built a function fro this.

In [31]:
for x in enumerate('tamim'):
    print(x)

(0, 't')
(1, 'a')
(2, 'm')
(3, 'i')
(4, 'm')

In [35]:
# since enumerate gives us a tuple and we can unpack it. 
for x,y in enumerate('tam'):
    print(x)
    print(y)
    print('\n')

0
t


1
a


2
m

### zip

In [36]:
mylist1 = [1,2,3,4]
mylist2 = ['a','b','c','d']

zip(mylist1, mylist2)

In [37]:
# zip is generator therfor we have to pass it through a lsit to get the value

In [38]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [39]:
# However the generators are iterable therefore we can do the for loop here.

In [41]:
for x,y in zip(mylist1, mylist2):
    print(x)
    print(y)
    print('\n')

1
a


2
b


3
c


4
d

### We can check whether something is in the list, string or dictionary.

In [42]:
'x' in [1,2,3,4]

False

In [43]:
1 in [1,2,3,4,5]

True

In [44]:
'a' in 'abcd'

True

In [45]:
'my' in {'my':23}

True

In [49]:
23 in {'my':23}.values()

True

In [50]:
# We can shuffle any list

In [51]:
from random import shuffle

In [53]:
ww = [1,2,3,4,5,6,7]
shuffle(ww)
ww

[3, 1, 5, 2, 6, 4, 7]

In [54]:
# We can also have the access to the random function without even calling the numpy library

In [55]:
from random import randint

In [57]:
randint(1,100)

27

In [58]:
# we have to remeber that enter function is always a string

## LIST COMPREHENSION

In [59]:
# lets see how awful  our life is without the list comprehension

In [60]:
let = 'tamim'
listlet = []
for x in let:
    listlet.append(x)

print(listlet)

['t', 'a', 'm', 'i', 'm']

In [61]:
# however with the list comprehension we can do everything in a very simple step.

In [64]:
mylist = [x for x in let]
mylist

['t', 'a', 'm', 'i', 'm']

In [69]:
tt = [x**3 for x in range(1,10)]
tt

[1, 8, 27, 64, 125, 216, 343, 512, 729]

### if else in list comprehension

#### Only if sstatement should be at the last like the follwing example

In [78]:
# even numbers list
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

#### full if else statement should be at the beginning like the following example

In [79]:
[x if x%2==0 else 'ODD' for x in range(10) ]

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [74]:
# lets see how we can convert fareheight into celciuls
celcius = [10,20,30,40]
farenheight = [(9/5)*x +32 for x in celcius]
farenheight

[50.0, 68.0, 86.0, 104.0]

### NESTED LOOP in list comprehension

In [83]:
[(x*y) for x in [2,3,4] for y in [100,200,300]]

[200, 400, 600, 300, 600, 900, 400, 800, 1200]