### How to see the avalable methods and Function details
#### After putting a ( . ) to a varriable if we press shift tab we can see alll the available functions. After choosing one if we press Shift + TAB we can see the details of that function.

In [2]:
mylist = [2,3,4,5,6]

## Functions
### def keyword
#### We use return Keyword to to send back the result of the function instead just printing it out. return allows us to assign the output of a function to a new variable

In [65]:
def total():
    print('say hello')

In [66]:
total()

say hello

In [67]:
# we can not assign this fucntion to a variable
tt = total()

say hello

In [68]:
# now lets try with return keyword
# with return keyword we can call the function and assign it. 
def tottal(name):
    return f'hello {name}'

In [69]:
tt = tottal('tamim')

In [70]:
tt

'hello tamim'

In [73]:
tottal('Tamim')

'hello Tamim'

In [14]:
# hopefull it makes sense

## Important concept about the function, for loop, rreturn and print

In [58]:
# lets look at the for loop and if statement

In [82]:
# Here x will pass each of the number into the if statement. Here pass means do not do anything.
for x in [1,2,3,4]:
    if x%2==0:
        print(x)
    else:
        pass

2
4

In [85]:
def nn():
    print(True)
    print(False)

nn()

True
False

In [61]:
# Now lets see a important characteristic of a fucntion when we use return

In [62]:
def new():
    return True
    return False

In [86]:
new()
# we can see here it is only giving us the first return. if it was two print it would give us all the print like the previous example.

True

In [22]:
# A function that return true if any number is EVEN inside a list.

In [90]:
# Lets see whats happening here
def check_even(num_list):
    for x in num_list:
        if x%2 == 0:
            print(True)  
        else:
            print(False)

In [91]:
check_even([1,2,3])

False
True
False

In [92]:
# Lets see whats happening here
def check_even_list(num_list):
    for x in num_list:
        if x%2 == 0:
            return True  
        else:
            return False

In [93]:
check_even_list([1,2,3])
# here we are getting False even though we have a even in the list. so what is the problem?

False

In [94]:
# if we notice and check with different numbers that it can only return us only the first number in the list. 
# why? because since for loop will return us the output False, True, False. Since it returns it will only return the first one which is False.

In [95]:
# now we are going to make a function which says if there is any even number in the list

In [105]:
def if_even_num(listt):
    for x in listt:
        if x%2 == 0:
            return True  
        else:
            pass
    # here in the first portion if a value is even it returns True otherwise returns nothing since we used PASS!!
    return False
    # if we get no value previously it will use false.

In [106]:
if_even_num([1,2,3,4])

True

In [107]:
if_even_num([3,3,5,7])

False

In [113]:
# Now lets make a fuction that finds the best employee as per the working hours
work_hours = [('tamim', 10000), ('Tanha', 60000),('faouzi', 500)]
def winner():
    name = ''
    hour = 0
    for x,y in work_hours:
        if y>hour:
            hour = y
            name = x
        else:
            pass
    
    return(name,hour)

In [118]:
winner()

('Tanha', 60000)

In [119]:
x,y = winner()

In [120]:
x

'Tanha'

In [121]:
y

60000

### Shuffle guess game

In [169]:
from random import shuffle
mylist = [' ', '0', ' ']

In [170]:
def game():
    guess = int(input('put your guess'))
    shuffle(mylist)
    for x in mylist:
        if mylist[guess-1] == '0':
            return 'you won'
        else:
            pass
    
    return f'you lose!! and the ball is here {mylist}'

In [179]:
game()

put your guess3

'you won'

In [166]:
list[2]

list[2]

## args and kwargs

#### We use args(*) to put the unlimited number of arguments in a function

In [2]:
def myfunc(*args):
    print(args)

myfunc(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [3]:
# so whatever we are going to add is gonna be put inside a tuple.

In [6]:
# Now lets see the application inside a function
def func(*args):
    return sum(args)*10

In [7]:
func(1,2,3,4,5)

150

#### kwargs(**) argument takes anything anything and put it in a dictionary as keyvalue pairs.

In [12]:
def myfunc(**kwargs):
    print(kwargs)

In [16]:
myfunc(name ='tamim', age = 22)

{'name': 'tamim', 'age': 22}

In [17]:
# we can see that it returs a dictionary.

In [41]:
# therefore we can use this in the following way
def func2(**kwargs):
    if 'fruit' in kwargs:
        return 'I could find an {} here'.format(kwargs['fruit'])
    else:
        return 'I cant find any fruits in there'

In [43]:
func2(animals ='apple')

'I cant find any fruits in there'

In [44]:
## after * and ** we cna write anything but we have to be consitent about what we are writing

In [45]:
## we can combine *args and **kwargs together.

In [46]:
def new(*arg, **kwarg):
    return 'I want {} {}'.format(arg[0],kwarg['food'])

In [48]:
new(10,20,30,40,food = 'eggs')

'I want 10 eggs'

## LAMBDA, MAP AND FILTER

#### --> Map function asically take a function as a input and then all the iterables to apply that function. we can check using shift +TAB after typing map.

In [5]:
def func(num):
    return num**2

In [26]:
# we have to remember that we have to pass an iterable after the function in the MAP fucntion. Below, I put a list but any iterable can be used.
x = map(func, [2,3,4,5,6])
x

In [27]:
# Here map returns an genrator and it is iterable. so we can convert it to a list or we can loop thorugh this iterator. 
list(x)

[4, 9, 16, 25, 36]

In [30]:
# However we haev to remebr that to use it in a loop we have the MAP instead placing it in a variable

In [36]:
for d in map(func, [2,3,4,5,6]):
    print(d)

4
9
16
25
36

#### Filter function is also like a MAP function but the function we put in the FILTER should return Boolean. and based on the fucntion it is is going to filter the next given iterables

In [42]:
# first lets meake a function that returns boolean
def fun(num):
    return num%2 == 0

In [43]:
r = [2,3,4,5,6,7,8]

In [44]:
y = filter(fun, r)
y

In [45]:
list(y)

[2, 4, 6, 8]

### LAMBDA Expression:

### the way we write this function is    lambda x : x**2    or lambda (argument) : the thing we want to dod with the argument.

In [49]:
# we can assign  lambda in a variable and we can use that varibale as a function.

In [50]:
ten_add = lambda x : x+10

In [51]:
ten_add(10)

20

### How we can combine lambda with map and filter?

In [53]:
list(map(lambda x:x**2, [2,3,4,5,6]))

[4, 9, 16, 25, 36]

In [54]:
list(filter(lambda x : x%2==0, [2,3,4,5,6,7,8]))

[2, 4, 6, 8]

## NESTED FUNCTIONS AND SCOPES OF THE VARIABLES

## usage of GLOBAL keyword
#### All the variable assignment has two scopes. If we change any global variable inside the function we are changing it only inside the functin not globally.  However we can do that iusing global keyword.

In [63]:
x = 50 # this is the GLOBAL varibale and last to consider.
def change():
    x = 100 # this is the second variable to consider
    def change1():
        x = 200 # this is the first varibale that is gonna be considered
        print(x)
    change1()

In [64]:
change()

200

In [65]:
# understanding the Scopes
x = 50
def paris():
    x = 100
    print(x)

In [66]:
paris()

100

In [67]:
# even thogh we reassigned the variable inside the function, but we could notchange it globally 
x

50

In [70]:
# However, we can change the variable gloablly using the keyword global
y = 40
def cergy():
    global y
    y = 250
    print(y)

In [72]:
cergy()

250

In [74]:
# after running the function it converted the global function from 40 to 250
y

250