In [1]:
'tamim'
'hasan'

'hasan'

In [2]:
print('tamim')
print('hasan')

tamim
hasan

In [3]:
# to use tab we can use /t
# to use enter we can sue /n

In [4]:
print('tamim \t hasan')
print('tamim \n hasan')

tamim 	 hasan
tamim
 hasan

In [5]:
# len tells use the lenght of the string

In [7]:
len('i am the')

8

In [5]:
name = 'liz'
name.replace('z', 'sa')

'lisa'

In [6]:
name = 'liz'
name.capitalize()

'Liz'

In [9]:
# : says the start and the end point of the code :3 means upto 3 but 3 is not included but 3: means after 3 but 3 is included

In [10]:
tamim = 'thelhamanus'

In [12]:
# : : it says the range for the strings and also last : says the break or interval of getting each string.

In [14]:
tamim[1:10:3]

'hha'

In [15]:
# a trick to reverse the strings without using the ofr loop is : : -1

In [17]:
tamim[::-1]

'sunamahleht'

In [18]:
# concatanation

In [20]:
r = 'tamim'
t = 'hasan'

In [22]:
r + t

'tamimhasan'

In [24]:
r*20 + t*10

'tamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimtamimhasanhasanhasanhasanhasanhasanhasanhasanhasanhasan'

In [26]:
r.upper()

'TAMIM'

In [30]:
r.lower()

'tamim'

In [34]:
x = 'tamim hasan'

In [38]:
x.split()

['tamim', 'hasan']

In [39]:
x.split('m')

['ta', 'i', ' hasan']

In [6]:
# now lets look at the format method() or f string. Usinfg this technique we can insert a variable inside the string.

In [2]:
BMI = 44/2

In [4]:
BMI

22.0

In [5]:
print(f'my BMI is {BMI}')

my BMI is 22.0

In [7]:
# Now we are going to look into the Python Lists

In [12]:
my_list = [4,5,6,7,6,5,4,3]
my_list_1 = ['tamim', 'hasan', 'matubbar']
my_list_2 = ['tamim', 6,7,33.4]

In [15]:
# we can grab any value from the list bybindicating the index position. it is the same like strong slicing that we saw earlier

In [14]:
my_list[0]

4

In [18]:
# we can also concatanate the list

In [17]:
my_list + my_list_1

[4, 5, 6, 7, 6, 5, 4, 3, 'tamim', 'hasan', 'matubbar']

In [19]:
# However we can insert the list elemnt which was not popssible for the string. lets see how

In [21]:
my_list

[4, 5, 6, 7, 6, 5, 4, 3]

In [22]:
my_list[0]= 'thelmahanus'

In [48]:
my_list

['thelmahanus', 5, 6, 7, 6, 5, 4]

In [34]:
# we can also use append method to add new item to the end of the .

In [49]:
my_list.append('yobro')

In [50]:
my_list

['thelmahanus', 5, 6, 7, 6, 5, 4, 'yobro']

In [53]:
# to remove an item from the end of the list we can use the POP method. we can put an index location inside the pop method

In [51]:
my_list.pop()

'yobro'

In [52]:
my_list

['thelmahanus', 5, 6, 7, 6, 5, 4]

In [54]:
my_list.pop(2)

6

In [55]:
my_list

['thelmahanus', 5, 7, 6, 5, 4]

In [56]:
print(my_list)
print(my_list_1)
print(my_list_2)

['thelmahanus', 5, 7, 6, 5, 4]
['tamim', 'hasan', 'matubbar']
['tamim', 6, 7, 33.4]

In [61]:
num_list = [1,2,4,3,5,6,4,3,2,3,4,5,2,8,9,4,3,1]

In [80]:
# we can sort the list using the sort method

In [68]:
num_list.sort()

In [72]:
num_list

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 8, 9]

In [62]:
my_list_1.sort()

In [73]:
my_list_1

['hasan', 'matubbar', 'tamim']

In [84]:
# we can use the reverse method to reverse the output

In [81]:
print(num_list)

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 6, 8, 9]

In [82]:
num_list.reverse()

In [83]:
num_list

[9, 8, 6, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 1, 1]

In [106]:
# we can find out the index of any element in the list and count how many times an element appeared in the lsit

In [107]:
num_list.index(6)

2

In [108]:
num_list.count(1)

2

In [85]:
# dictionary

In [86]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [88]:
my_dict['key2']

'value2'

In [89]:
# dictionary can contain list and even another dictionary inside the dictionary

In [90]:
 my_dict_1 = {'k1':'V1', 'k2':[1,2,3,4,5], 'k3':{'dd':'rr', 'tt':'yy'}}

In [91]:
my_dict_1['k2'][2]

3

In [92]:
my_dict_1['k3']['tt']

'yy'

In [93]:
# like the lsit we can also replace any value on the dictionary by putting some new value

In [95]:
my_dict_1

{'k1': 'V1', 'k2': [1, 2, 3, 4, 5], 'k3': {'dd': 'rr', 'tt': 'yy'}}

In [96]:
my_dict_1['k1']='tamim'

In [97]:
my_dict_1

{'k1': 'tamim', 'k2': [1, 2, 3, 4, 5], 'k3': {'dd': 'rr', 'tt': 'yy'}}

In [98]:
# some important methods for the dictionaries which might be valueable for the future

In [99]:
my_dict_1

{'k1': 'tamim', 'k2': [1, 2, 3, 4, 5], 'k3': {'dd': 'rr', 'tt': 'yy'}}

In [100]:
my_dict_1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [101]:
my_dict_1.values()

dict_values(['tamim', [1, 2, 3, 4, 5], {'dd': 'rr', 'tt': 'yy'}])

In [102]:
my_dict_1.items()

dict_items([('k1', 'tamim'), ('k2', [1, 2, 3, 4, 5]), ('k3', {'dd': 'rr', 'tt': 'yy'})])

### Tuples - same as python list but immutable but we can use the index and count method for the tuple

In [109]:
tup = (2,3,4,5)

In [113]:
# Sets in Python 
# sets are unordered collected of some elements which means one element can be in the set one time only

In [114]:
myset = set()

In [115]:
myset.add(1)

In [116]:
myset

{1}

In [117]:
myset.add(2)

In [118]:
myset

{1, 2}

In [119]:
myset.add(2)

In [120]:
myset

{1, 2}

In [121]:
list =[1,1,1,1,1,1,2,2,2,23,4,5,6,7,8]

In [122]:
set(list)

{1, 2, 4, 5, 6, 7, 8, 23}

In [124]:
1==2

False